* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --main-color: rgb(4, 4, 105);
    --second-color: #fff;
    --hover-color: rgb(0, 162, 255);

}

body {
    width: 100%;
    position: relative;
}

#research {
    border-bottom: 2px solid var(--second-color);
    padding-bottom: 35px;
    color: var(--hover-color)
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    transition: 0.3s;
}

.header .contanier {
    background-color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    width: 100%;
    max-height: 100px;

}

.header .contanier img {
    width: 150px;
    height: 50px;
    width: 40%;
}

.header .contanier .icons {
    display: none;
    align-items: flex-end;
    /* display: flex; */
    flex-direction: column;
}





.header .contanier ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
}



.header .contanier .login {
    color: #fff;
    border-radius: 40px;
    padding: 15px 25px;
    background-color: #000;
    transition: 0.5s;
    display: none;
    text-decoration: none;

}

.header .contanier .login:hover {
    background-color: #fff;
    border: transparent;
    padding: 15px 25px;
    color: #000;
    /* transform: translateY(50px); */
}

.header .contanier ul li {
    margin-left: 15px;

}

.header .contanier ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 900;
    transition: 0.5s;

}

.header .contanier ul li a:hover {
    border-bottom: 2px solid var(--second-color);
    padding-bottom: 35px;
    color: var(--hover-color);
}

@media screen and (max-width:768px) {
    .header .contanier ul {
        display: none;
    }

    .header .contanier ul li .login {
        display: block;
        width: 50%;
    }

    .header .contanier .img {
        width: 50%;

    }

    .header .contanier .login {
        display: block;
    }
}

.main .sidebar {
    background-color: var(--main-color);
    width: 100%;
    height: 100px;
    /* height: 100vh; */
    position: absolute;
    /* top: 100px; */
    z-index: 1;
    transition: 0.3s;
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    display: none;
    border-top: 1px solid #fff;

}

.main .sidebar ul {
    display: none;
    list-style: none;
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    padding: 10px;
}

.main .sidebar ul li {
    margin-bottom: 50px;
    padding: 20px 50px;
}

.main .sidebar ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.main .sidebar ul li:hover a {
    color: var(--hover-color);

}

.main .sidebar ul li:hover {
    background-color: #fff;
}

@media screen and (max-width:768px) {
    .main .sidebar {
        display: block;
    }

}

@media screen and (max-width:526px) {
    .header .contanier .login {
        font-size: 11px;
    }

    .header .contanier {
        height: 5vh;
    }

    .headre .contanier .img {
        height: 10px;
    }

    .main .sidebar {
        display: block;
        height: 8.1vh;
    }

    .main .sidebar ul li a {
        font-size: 11px;
    }

    .main .sidebar ul li {
        padding: 13px;
    }

    .main .sidebar ul {
        padding: 0;
    }
}

.main {
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url(../images/nmgxpyuwqaxqjsmc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main .text {
    background-color: #0000009a;
    color: #fff;
    width: 60%;
    padding: 50px;
    position: absolute;
    top: 40%;
    left: 3%;
}

.main .text p {
    line-height: 1.4;
    margin-top: 20px;
    padding-left: 10px;
    border-left: 5px solid var(--main-color);

}

.undermain {
    background-color: var(--main-color);
    padding: 50px;
    text-transform: capitalize;
    position: relative;
}

.undermain h2 {
    color: var(--hover-color);
}

.undermain p {
    margin-top: 10px;
    line-height: 1.4;
    color: #fff;
    width: 95%;
}

.undermain i {
    position: absolute;
    top: 40%;
    left: 85%;
    color: #ffffff57;
}

.goals {
    padding: 50px;
    background-color: #0000001e;
    text-transform: capitalize;
    width: 100%;
}

.goals .colums {
    display: flex;
    align-items: center;
    justify-content: center;
}

.goals h1 {
    margin-bottom: 30px;
}

.goals .col1 {
    width: 50%;
}

.goals .col2 {
    width: 50%;
}

.goals .col1 p,
.goals .col2 p {
    width: 90%;
    margin: 10px 0;
    line-height: 1.6;
    font-weight: bold;
    color: #000000af;
}

.activite {
    padding: 50px;
}

.activite h1 {
    color: orange;
    font-weight: 900;
    margin-bottom: 50px;
}

.activite p {
    margin: 30px 0;
    font-weight: 900;
    color: #00000085
}

.activite h2 {
    color: var(--main-color);
}

.inactive {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .activite .card1 p,
.activite .card2 p ,
.activite .card3 p{
    width: 80%;

} */
.activite .card1,
.activite .card2,
.activite .card3 {
    box-shadow: 2px 4px 17px -10px black;
    width: 40%;
    text-align: center;
    padding: 40px;
}

.activite .card3 {
    margin-top: 50px;
    margin-left: 30%;
}

.contact {
    background-color: var(--main-color);
    color: #fff;
    text-transform: capitalize;
    padding: 50px;
}

.cardes {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.cardes .car1,
.cardes .car2,
.cardes .car3,
.cardes .car4 {
    width: 90%;
    margin: 10px 0;
    font-weight: 900;
}

.cardes .car1 h1,
.cardes .car2 h1,
.cardes .car3 h1,
.cardes .car4 h1 {
    margin-bottom: 10px;
}

.cardes .car3 a {
    transition: 0.3s;
    text-decoration: none;
    color: #fff;

}

.cardes .car3 a:hover {
    color: var(--hover-color);
}

.cardes .car4 i {
    margin-left: 15px;
}

.footer {

    background-color: #4d4a4b;
    /* padding-top: 200px; */
    /* padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px; */
    /* margin-top: 250px; */
    /* position: relative; */
    /* z-index: -1; */
    padding: 50px;
}

.footer .links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.footer .links h2 {
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
}

.footer .links a {
    text-decoration: none;
    color: #c9c5c55e;
    font-size: 20px;
    line-height: 1.6;
    transition: 0.3s;
    text-transform: capitalize;


}

.footer .links a:hover {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.footer .links .students {
    margin-top: -202px;
}

.footer .links .parten {
    margin-bottom: 150px;
}

.footer .links .about {
    margin-top: -50px;
}

@media screen and (max-width:768px) {
    .footer .links .about {
        /* margin-bottom: 12px; */
        margin-right: 15px;
    }

    .footer .links .parten {
        margin-bottom: 90px;
        margin-left: 15px;
    }

    .footer .links a {
        font-size: 17px;
    }

    .footer .links .students {
        margin-bottom: 194px;
        margin-left: 15px;
    }

    .contact .info h1 {
        font-size: 16px;
    }

    .contact .info h3 {
        font-size: 13px;
    }

    .contact h1 {
        font-size: 40px;
    }

    .contact h2 {
        font-size: 25px;
    }

    .contact p {
        font-size: 15px;
    }

    .contact {
        top: 83.5%;
    }

}

@media screen and (max-width:992px) {
    .students {
        font-size: 15px;
    }
}